<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
</head>
<body>
    <h1>Bugs</h1>
    <form action="" method="post">
        <label for="">Bug :</label>
        <input type="text" name="newBug" id="">
        <input type="submit" value="Save">
    </form>
</body>
</html>
